.swiper {
    width: 80vw;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 5vw;
    padding-right: 5vw;
}
  
.swiper-slide {
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--light-color);
}

.swiper-pagination-bullet {
  background-color: var(--light-color);
  width: 15px;
  height: 15px;
}
