.intro-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-accent);
    min-width: 100vw;
    height: 100vh;
    gap: 50px;
}

.intro-section>img {
    height: 250px;
    width: auto;
}

h1 {
    font-family: var(--heading-font);
    font-size: 2rem;
    color: var(--light-accent);
    text-align: left;
}

p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    color: var(--light-color);
    max-width: 50vw;
    letter-spacing: -1px;
}

.accent-text {
    color: var(--light-accent);
}